.containerHome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerHome .contentHome {
  margin: auto;
  width: 1150px;
  height: 700px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-form);
  border-radius: 10px;
}

.containerHome .contentHome .leftHome {
  width: 50vw;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.containerHome .contentHome .leftHome #preinscricao {
  margin-bottom: 15px;
  font-size: 20px;
}

.containerHome .contentHome .leftHome #investi {
  margin-bottom: 45px;
  font-size: 100px;
  color: var(--green-soft);
}

.containerHome .contentHome .leftHome #subtitle {
  margin-bottom: 68px;
  font-size: 35px;
}

.containerHome .contentHome .leftHome #message {
  font-size: 20px;
}

.containerHome .contentHome .rightHome {
  padding: 25px 15px;
  background-color: var(--background-form);
  width: 500px;
  border-radius: 10px;
}

.containerHome .contentHome .rightHome form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .containerHome .contentHome {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 850px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-form);
    border-radius: 10px;
  }
}

@media (max-width: 425px) {
  .containerHome .contentHome {
    background-color: var(--white);
  }
}
